<!DOCTYPE html>
<html>
  <head>
       <title>Kategorie</title>
       <style>
       </style>
  </head>
  <body>
        <table>
            <tr>
                <th scope="col" style="background-color: rgb(249, 84, 84);">Sprawca</th>
                <td>król, Charles, kardynał, biskup, rodzina, królewska, następca</td>
                <td>0.25</td>
            </tr>
            <tr>
                <th scope="col" style="background-color: lightgreen;">Zdarzenie</th>
                <td>procesja, uroczystość, przyjęcie, msza, chrzest, celebracja</td>
                <td>0.05</td>
            </tr>
            <tr>
                <th scope="col" style="background-color: lightblue;">Obiekt</th>
                <td>diamenty, kryształy, szata, insygnia, karoca</td>
                <td>0.05</td>
            </tr>
            <tr>
                <th scope="col" style="background-color: orange;">Narzędzie</th>
                <td>korona, berło, tron, kropielnica</td>
                <td>0.2</td>
            </tr>
            <tr>
                <th scope="col" style="background-color: yellow;">Miejsce</th>
                <td>pałac, zamek, buckingham, kościół, klasztor, Westminster, opactwo</td>
                <td>0.25</td>
            </tr>
            <tr>
                <th scope="col" style="background-color: rgb(250, 93, 250);">Cel</th>
                <td>koronacja, następstwo, objęcie</td>
                <td>0.2</td>
            </tr>
        </table>
  </body>
</html>